# .editorconfig
# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 2
insert_final_newline = true
charset = utf-8

# C++ files
[*.cpp]
# Use camelCase for method names
cpp_method_naming = camelCase

[*.h]
# Use camelCase for method names
cpp_method_naming = camelCase